.table img {
    object-fit: cover;
}

.modal-header .btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.list-group-item {
    border-left: 3px solid transparent;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    border-left-color: #0d6efd;
}

.badge {
    font-weight: 500;
}
