.footer-light {
  background: linear-gradient(
    135deg,
    var(--text-primary),
    var(--dark-secondary)
  );
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
}
.footer-dark {
  background-color: #1c1c1c; /* Color oscuro más intenso */
  border-top: 2px solid #1c1c1c; /* Línea separadora gris oscuro */
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
}
/* Footer */
.footer-section {
  background: linear-gradient(
    135deg,
    var(--text-primary),
    var(--dark-secondary)
  );
  color: white;
}

.footer-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--primary-blue);
}

.social-links a {
  color: white;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--primary-blue);
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 2rem 0;
}
